<mat-card>
  <div class="row">
    <div class="col">PRIMA LEZIONE ACCADEMY </div>
  </div>
</mat-card>
<div class="container-fluid">

  <div class="row">
    <div class="col-6">ciao </div>
    <div class="col-6">ciao</div>
  </div>
</div>

<button mat-raised-button color="primary">Primary</button>




<div class="row" *ngFor="let user of listUser">
  <div class="col">
  nome utente:  {{user.name}}
    <div class="row" *ngFor="let instagra of user.contact.instagram ">
      <div class="col">

       Instagram: {{instagra}}
      </div>
    </div>
  </div>
</div>
